@CHARSET "UTF-8";

#content{
	width:100%;
	font-family: Trebuchet MS;
	padding:4px;
}
			
.photoImg{
	height:15%;
	width:40%;
}

.icon{
	height:50px;
	width:50px;
}

.content{
	float:left;
	width:60%;
	vertical-align:middle;
}
		
.photo{
	width:100%;
}

#forecastList{
	width:100%;
}

.forecast{
	border:3px solid #3399FF;
	width:19%;
	float:left;
	border-radius:20px;
	text-align:center;
	margin:3px;
}

.activity{
	
	border:3px solid #3399FF;
	width:45%;
	height:200px;
	float:left;
	border-radius:20px;
	text-align:justify;
	margin:3px;
	overflow: auto;
	padding:1%;
}

.forecastTitle{
	border-bottom:3px solid #3399FF;
}