<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans default-lazy-init="true">

	<bean id="sessionManager" class="net.twilightstudios.amex.util.persistence.hibernate.HibernateManager"/>

	<import resource="classpath:flightService.xml"/>
	<import resource="classpath:weatherContext.xml"/>
	<import resource="classpath:placesContext.xml"/>

</beans>
